body
{color: purple; background-color: lightblue}

h1
{color: orange; background-color: darkblue; text-decoration: underline}

h2
{color: yellow; background-color: purple; text-decoration: underline}
